.container {
  width: 100%;
  min-height: 70px;
  background-color: var(--secondary);
  color: rgb(0, 0, 0);
  border-radius: var(--radius);
  padding: 10px;
  box-shadow: var(--box-shadow);
  display: inline-flex;
  justify-content: space-between;
}

.containerInfo {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  justify-content: center;
}

.container h2 {
  font-size: var(--small-header-font-size);
}

.container:hover {
  cursor: pointer;
}

.container:active {
  box-shadow: none;
}

.container button:hover {
  opacity: 0.6;
}
