.workoutContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  overflow: hidden;
}

.workoutHeader {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.workoutHeader h1 {
  font-size: var(--small-header-font-size);
}

.workoutHeader button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dailyWorkoutList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  padding: 0 5px 20px 5px;
}

.dailyWorkout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.createWorkoutBtn {
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translateX(50%);
}
