.homeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  overflow: hidden;
}

/* Today workout */

.todayWorkout {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.todayWorkoutHeader {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.todayWorkoutHeader h1 {
  font-size: var(--small-header-font-size);
}

.todayWorkouts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  padding: 5px 5px 60px 5px;
}

.homeContainer button {
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translateX(50%);
}
