.container {
  width: 100%;
  min-height: 70px;
  border-radius: var(--radius);
  padding: 10px;
  box-shadow: var(--box-shadow);
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}

.selected {
  background-color: var(--accent);
  color: white;
}

.notSelected {
  background-color: var(--secondary);
  color: rgb(0, 0, 0);
}

.containerInfo {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.containerInfo p:nth-of-type(1) {
  font-size: var(--small-text-font-size);
}

.container h2 {
  font-size: var(--small-header-font-size);
}

.container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.container:hover {
  cursor: pointer;
}

.container:active {
  box-shadow: none;
}

.container button:hover {
  opacity: 0.6;
}
