#root {
  width: 600px;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  width: 100%;
  padding: 5px var(--padding) 0 var(--padding);
}

.greyScreen {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.567);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
